<dom-module id="es-ec-bom-list">
    <template>
        <!-- ============================================================
             Ajax 선언부
             ============================================================ -->
        <sc-ajax id="findListAjax"
                 url="/bp/cost/ec/bom/findListEcBom.do"
                 body="{{searchParam}}"
                 on-response="onFindListResponse">
        </sc-ajax>

        <sc-ajax id="saveListAjax"
                 url="/bp/cost/ec/bom/saveListEcBom.do"
                 body="{{saveParam}}"
                 on-response="onSaveListResponse">
        </sc-ajax>

        <sc-ajax id="deleteListAjax"
                 url="/bp/cost/ec/bom/deleteListEcBom.do"
                 body="{{deleteParam}}"
                 on-response="onDeleteListResponse">
        </sc-ajax>

        <sc-ajax id="calculateCostAjax"
                 url="/bp/cost/ec/bom/calculateMaterialCost.do"
                 body="{{calcParam}}"
                 on-response="onCalculateCostResponse">
        </sc-ajax>

        <sc-ajax id="interfacePriceAjax"
                 url="/bp/cost/ec/bom/interfaceUnitPrices.do"
                 body="{{interfaceParam}}"
                 on-response="onInterfacePriceResponse">
        </sc-ajax>

        <!-- 프로젝트 목록 조회 -->
        <sc-ajax id="findPjtListAjax"
                 url="/bp/cost/ec/findListEstimateCostPjt.do"
                 body="{{pjtSearchParam}}"
                 on-response="onFindPjtListResponse">
        </sc-ajax>

        <!-- 원가코드 목록 조회 -->
        <sc-ajax id="findCostCodeListAjax"
                 url="/bp/cost/ec/detail/findListCostCode.do"
                 body="{{costCodeSearchParam}}"
                 on-response="onFindCostCodeListResponse">
        </sc-ajax>

        <!-- ============================================================
             엑셀 업로드 (hidden file input)
             ============================================================ -->
        <input type="file" id="excelFileInput"
               accept=".xlsx,.xls,.csv"
               style="display:none"
               on-change="_onExcelFileSelected">

        <!-- ============================================================
             조회 조건 영역
             ============================================================ -->
        <sc-search-container on-search="onFindPjtList" auth-code="V">
            <table>
                <colgroup>
                    <col style="width:120px"/><col/>
                    <col style="width:120px"/><col/>
                </colgroup>
                <tr>
                    <th><sc-label text="프로젝트 코드"></sc-label></th>
                    <td>
                        <sc-text-field value="{{pjtSearchParam.pjtCd}}" on-enter="onFindPjtList" placeholder="코드/명칭"></sc-text-field>
                    </td>
                    <th><sc-label text="고객사"></sc-label></th>
                    <td>
                        <sc-text-field value="{{pjtSearchParam.custNm}}"></sc-text-field>
                    </td>
                </tr>
            </table>
        </sc-search-container>

        <!-- ============================================================
             3분할 레이아웃: 프로젝트(flex-2) | 원가코드(flex-1.5) | BOM(flex-6.5)
             ============================================================ -->
        <div class="hbox flex">

            <!-- ========== 좌측: 프로젝트 목록 (flex-2) ========== -->
            <sc-grid id="pjtGrid"
                     data-provider="{{pjtList}}"
                     on-item-click="onProjectClick"
                     selection-mode="radio"
                     class="flex-2"
                     use-state="false">
                <sc-grid-columns>
                    <sc-data-column data-field="pjtCd"
                                    header-text="프로젝트코드"
                                    width="130"
                                    text-align="center"
                                    on-item-click="onProjectClick">
                    </sc-data-column>
                    <sc-data-column data-field="pjtNm"
                                    header-text="프로젝트명"
                                    width="180">
                    </sc-data-column>
                    <sc-data-column data-field="custNm"
                                    header-text="고객사"
                                    width="120">
                    </sc-data-column>
                    <sc-data-column data-field="stsNm"
                                    header-text="상태"
                                    width="80"
                                    text-align="center">
                    </sc-data-column>
                </sc-grid-columns>
            </sc-grid>

            <div class="hspace-10"></div>

            <!-- ========== 중간: 원가코드 목록 ========== -->
            <sc-grid id="costCodeGrid"
                     data-provider="{{costCodeList}}"
                     on-item-click="_onCostCodeClick"
                     selection-mode="radio"
                     class="flex-2"
                     use-state="false">
                <sc-grid-columns>
                    <sc-data-column data-field="costCd"
                                    header-text="원가코드"
                                    width="120"
                                    text-align="center">
                    </sc-data-column>
                    <sc-data-column data-field="costGrpDesc"
                                    header-text="원가그룹"
                                    width="150">
                    </sc-data-column>
                </sc-grid-columns>
            </sc-grid>

            <div class="hspace-10"></div>

            <!-- ========== 우측: BOM 영역 ========== -->
            <div class="vbox flex-6">

        <!-- ============================================================
             BOM Tree Grid
             ============================================================ -->
        <sc-grid id="gridPanel"
                 data-provider="{{resultList}}"
                 is-tree="true"
                 tree-field="itemNm"
                 editable="true"
                 class="flex"
                 on-cell-value-changed="_onCellValueChanged">

            <sc-toolbar>
                <sc-button text="조회"         on-click="onFindList"      auth-code="V"></sc-button>
                <sc-button text="엑셀업로드"   on-click="onUploadExcel"   auth-code="S"></sc-button>
                <sc-button text="엑셀다운로드" on-click="onDownloadExcel" auth-code="V"></sc-button>
                <span class="vt-seperator"></span>
                <sc-button text="행추가"       on-click="onAddRow"        auth-code="S"></sc-button>
                <sc-button text="삭제"         on-click="onDeleteList"    auth-code="S"></sc-button>
                <sc-button text="저장"         on-click="onSaveList"      auth-code="S"></sc-button>
                <sc-button text="기존단가 가져오기(I/F)" on-click="onInterfacePrice" auth-code="S"></sc-button>
                <sc-button text="재료비 집계"  on-click="onCalculateCost" auth-code="S"></sc-button>
            </sc-toolbar>

            <sc-grid-columns>
                <sc-data-column data-field="itemNm"
                                header-text="품목명"
                                width="250"
                                text-align="left"
                                editable="true"
                                required="true">
                </sc-data-column>

                <sc-data-column data-field="itemCd"
                                header-text="품번"
                                width="150"
                                editable="true"
                                required="true">
                </sc-data-column>

                <sc-data-column data-field="lvl"
                                header-text="Level"
                                width="60"
                                text-align="center"
                                data-type="number"
                                editable="false">
                </sc-data-column>

                <sc-data-column data-field="qty"
                                header-text="수량"
                                width="80"
                                text-align="right"
                                data-type="number"
                                editable="true">
                </sc-data-column>

                <sc-data-column data-field="unitPrice"
                                header-text="단가"
                                width="120"
                                text-align="right"
                                data-type="amount"
                                format-type="amt"
                                editable="true">
                </sc-data-column>

                <sc-data-column data-field="matCost"
                                header-text="재료비"
                                width="120"
                                text-align="right"
                                data-type="number"
                                format-type="amt"
                                editable="false">
                </sc-data-column>

                <sc-checkbox-column data-field="newPartYn"
                                   header-text="신규부품"
                                   width="80"
                                   checked-value="Y"
                                   un-checked-value="N"
                                   editable="true">
                </sc-checkbox-column>

                <sc-data-column data-field="spec"
                                header-text="규격"
                                width="150"
                                editable="true">
                </sc-data-column>
            </sc-grid-columns>

            <!-- 숨김 필드: 상위품번 (트리 부모-자식 관계) -->
            <sc-grid-fields>
                <sc-grid-field data-field="upItemCd"></sc-grid-field>
                <sc-grid-field data-field="ecPjtCd"></sc-grid-field>
                <sc-grid-field data-field="costCd"></sc-grid-field>
            </sc-grid-fields>
        </sc-grid>

            </div><!-- /우측 vbox -->
        </div><!-- /3분할 hbox flex -->
    </template>

    <script>
        Polymer({
            is: 'es-ec-bom-list',

            properties: {
                // 프로젝트 검색 파라미터
                pjtSearchParam: {
                    type: Object,
                    value: function() { return {}; }
                },
                // 프로젝트 목록
                pjtList: {
                    type: Array,
                    value: function() { return []; }
                },
                // 프로젝트 기본 정보
                pjtInfo: {
                    type: Object,
                    value: function() { return {}; }
                },
                // 원가코드 목록
                costCodeList: {
                    type: Array,
                    value: function() { return []; }
                },
                costCodeSearchParam: {
                    type: Object,
                    value: function() { return {}; }
                },
                // 선택된 원가코드
                selectedCostCd: {
                    type: String,
                    value: ''
                },
                // 조회 파라미터
                searchParam: {
                    type: Object,
                    value: function() { return {}; }
                },
                // 그리드 데이터 (트리 구조)
                resultList: {
                    type: Array,
                    value: function() { return []; }
                },
                // 저장/삭제/집계 파라미터
                saveParam:   { type: Object, value: function() { return {}; } },
                deleteParam: { type: Object, value: function() { return {}; } },
                calcParam:      { type: Object, value: function() { return {}; } },
                interfaceParam: { type: Object, value: function() { return {}; } }
            },

            /* ==============================================================
               라이프사이클
               ============================================================== */

            attached: function() {
                var param = UT.getParameter();
                if (param && param.pjtCd) {
                    this._initialPjtCd = param.pjtCd;
                    this.set('pjtSearchParam', { pjtCd: param.pjtCd });
                }
                this.$.findPjtListAjax.generateRequest();
            },

            /* ==============================================================
               프로젝트 목록 조회/선택
               ============================================================== */

            onFindPjtList: function() {
                this._initialPjtCd = null;
                this.set('pjtInfo', {});
                this.set('costCodeList', []);
                this.set('selectedCostCd', '');
                this.set('resultList', []);
                this.$.findPjtListAjax.generateRequest();
            },

            onFindPjtListResponse: function(e) {
                var list = e.detail.response || [];
                this.set('pjtList', list);

                if (this._initialPjtCd && list.length > 0) {
                    var targetPjtCd = this._initialPjtCd;
                    this._initialPjtCd = null;
                    for (var i = 0; i < list.length; i++) {
                        if (list[i].pjtCd === targetPjtCd) {
                            this._selectProject(list[i]);
                            break;
                        }
                    }
                }
            },

            onProjectClick: function(e) {
                var row = e.detail.data;
                if (!row || !row.pjtCd) return;
                this._selectProject(row);
            },

            _selectProject: function(row) {
                this.set('pjtInfo', {
                    pjtCd:  row.pjtCd,
                    pjtNm:  row.pjtNm || '',
                    custNm: row.custNm || '',
                    sts:    row.sts || 'T'
                });

                if (row.sts && row.sts !== 'T') {
                    this.$.gridPanel.editable = false;
                    this._readOnly = true;
                } else {
                    this.$.gridPanel.editable = true;
                    this._readOnly = false;
                }

                // 원가코드 목록 로드
                this.set('selectedCostCd', '');
                this.set('resultList', []);
                this.set('costCodeSearchParam', { ecPjtCd: row.pjtCd });
                this.$.findCostCodeListAjax.generateRequest();
            },

            /* ==============================================================
               원가코드 목록 조회/선택
               ============================================================== */

            onFindCostCodeListResponse: function(e) {
                var list = e.detail.response || [];
                this.set('costCodeList', list);
            },

            _onCostCodeClick: function(e) {
                var row = e.detail.data;
                if (!row || !row.costCd) return;
                this.set('selectedCostCd', row.costCd);
                this.onFindList();
            },

            /* ==============================================================
               BOM 조회
               ============================================================== */

            onFindList: function() {
                if (!this.pjtInfo || !this.pjtInfo.pjtCd) return;
                if (!this.selectedCostCd) return;
                this.set('searchParam', { ecPjtCd: this.pjtInfo.pjtCd, costCd: this.selectedCostCd });
                this.$.findListAjax.generateRequest();
            },

            onFindListResponse: function(e) {
                var flatList = e.detail.response;
                var treeList = this._buildTreeFromFlatList(flatList);
                this.set('resultList', treeList);
            },

            /* ==============================================================
               엑셀 업로드
               ============================================================== */

            onUploadExcel: function() {
                if (this._readOnly) {
                    UT.alert('진행 중인 프로젝트의 BOM은 수정할 수 없습니다.');
                    return;
                }
                if (!this.selectedCostCd) {
                    UT.alert('원가코드를 먼저 선택해 주세요.');
                    return;
                }
                this.$.excelFileInput.value = '';
                this.$.excelFileInput.click();
            },

            _onExcelFileSelected: function(e) {
                var me = this;
                var file = e.target.files[0];
                if (!file) return;

                var reader = new FileReader();
                reader.onload = function(evt) {
                    var data = new Uint8Array(evt.target.result);
                    var workbook = XLSX.read(data, { type: 'array' });
                    var sheet = workbook.Sheets[workbook.SheetNames[0]];
                    var rows = XLSX.utils.sheet_to_json(sheet, { header: 1, defval: '' });

                    var flatList = [];
                    for (var i = 1; i < rows.length; i++) {
                        var row = rows[i];
                        if (!row[0] && !row[1]) continue;

                        var qty       = Number(row[3]) || 0;
                        var unitPrice = Number(row[4]) || 0;

                        flatList.push({
                            itemCd:     String(row[0] || ''),
                            itemNm:     String(row[1] || ''),
                            lvl:        Number(row[2]) || 0,
                            qty:        qty,
                            unitPrice:  unitPrice,
                            matCost:    qty * unitPrice,
                            spec:       String(row[5] || ''),
                            newPartYn:  String(row[6] || 'N'),
                            upItemCd:   '',
                            ecPjtCd:    me.pjtInfo.pjtCd,
                            costCd:     me.selectedCostCd
                        });
                    }

                    me._assignParentByLevel(flatList);
                    var treeList = me._buildTreeFromFlatList(flatList);
                    me.set('resultList', treeList);

                    UT.alert(flatList.length + '건의 BOM 데이터가 업로드되었습니다.');
                };
                reader.readAsArrayBuffer(file);
            },

            _assignParentByLevel: function(flatList) {
                var levelStack = {};

                for (var i = 0; i < flatList.length; i++) {
                    var item = flatList[i];
                    var lvl = item.lvl;

                    if (lvl <= 0) {
                        item.upItemCd = '';
                    } else {
                        item.upItemCd = levelStack[lvl - 1] || '';
                    }

                    levelStack[lvl] = item.itemCd;

                    var keys = Object.keys(levelStack);
                    for (var k = 0; k < keys.length; k++) {
                        if (Number(keys[k]) > lvl) {
                            delete levelStack[keys[k]];
                        }
                    }
                }
            },

            _buildTreeFromFlatList: function(flatList) {
                if (!flatList || flatList.length === 0) return [];

                var map = {};
                var roots = [];

                for (var i = 0; i < flatList.length; i++) {
                    var item = flatList[i];
                    item.children = [];
                    map[item.itemCd] = item;
                }

                for (var j = 0; j < flatList.length; j++) {
                    var node = flatList[j];
                    if (node.upItemCd && map[node.upItemCd]) {
                        map[node.upItemCd].children.push(node);
                    } else {
                        roots.push(node);
                    }
                }

                return roots;
            },

            /* ==============================================================
               실시간 계산 — 수량 x 단가 = 재료비
               ============================================================== */

            _onCellValueChanged: function(e) {
                var field = e.detail.dataField;

                if (field === 'qty' || field === 'unitPrice') {
                    var grid     = this.$.gridPanel;
                    var rowIndex = e.detail.rowIndex;
                    var qty       = Number(grid.getCellData(rowIndex, 'qty'))       || 0;
                    var unitPrice = Number(grid.getCellData(rowIndex, 'unitPrice')) || 0;
                    var matCost   = qty * unitPrice;

                    grid.setCellData(rowIndex, 'matCost', matCost);
                }
            },

            /* ==============================================================
               엑셀 다운로드
               ============================================================== */

            onDownloadExcel: function() {
                var grid = this.$.gridPanel;
                grid.exportToExcel({
                    fileName: 'BOM_' + (this.pjtInfo.pjtCd || '') + '_' + (this.selectedCostCd || 'export') + '.xlsx'
                });
            },

            /* ==============================================================
               행 추가
               ============================================================== */

            onAddRow: function() {
                if (this._readOnly) {
                    UT.alert('진행 중인 프로젝트의 BOM은 수정할 수 없습니다.');
                    return;
                }
                if (!this.selectedCostCd) {
                    UT.alert('원가코드를 먼저 선택해 주세요.');
                    return;
                }
                var grid = this.$.gridPanel;
                var selectedRows = grid.getSelectedRows();
                var parentItemCd = '';
                var parentLvl    = -1;

                if (selectedRows && selectedRows.length > 0) {
                    parentItemCd = selectedRows[0].itemCd || '';
                    parentLvl    = Number(selectedRows[0].lvl) || 0;
                }

                grid.insertRow(0, {
                    itemCd:     '',
                    itemNm:     '',
                    lvl:        parentLvl + 1,
                    upItemCd:   parentItemCd,
                    qty:        0,
                    unitPrice:  0,
                    matCost:    0,
                    newPartYn:  'N',
                    spec:       '',
                    ecPjtCd:    this.pjtInfo.pjtCd,
                    costCd:     this.selectedCostCd
                });
            },

            /* ==============================================================
               저장
               ============================================================== */

            onSaveList: function() {
                if (this._readOnly) {
                    UT.alert('진행 중인 프로젝트의 BOM은 수정할 수 없습니다.');
                    return;
                }
                if (!this.selectedCostCd) {
                    UT.alert('원가코드를 먼저 선택해 주세요.');
                    return;
                }
                var grid = this.$.gridPanel;
                var allRows = grid.getAllRows();

                if (!allRows || allRows.length === 0) {
                    UT.alert('MSG_COM_00006');
                    return;
                }

                for (var i = 0; i < allRows.length; i++) {
                    if (!allRows[i].itemCd || !allRows[i].itemNm) {
                        UT.alert('MSG_COM_00001');
                        return;
                    }
                }

                var flatList = this._flattenTree(allRows);

                var me = this;
                UT.confirm('MSG_COM_00002', function() {
                    me.set('saveParam', {
                        ecPjtCd:  me.pjtInfo.pjtCd,
                        costCd:   me.selectedCostCd,
                        bomList:  flatList
                    });
                    me.$.saveListAjax.generateRequest();
                });
            },

            onSaveListResponse: function() {
                UT.alert('MSG_COM_00003');
                this.onFindList();
            },

            _flattenTree: function(treeList) {
                var result = [];
                var me = this;

                function traverse(list) {
                    for (var i = 0; i < list.length; i++) {
                        var node = list[i];
                        result.push({
                            ecPjtCd:    node.ecPjtCd || me.pjtInfo.pjtCd,
                            costCd:     node.costCd || me.selectedCostCd,
                            itemCd:     node.itemCd,
                            itemNm:     node.itemNm,
                            lvl:        node.lvl,
                            upItemCd:   node.upItemCd || '',
                            qty:        node.qty,
                            unitPrice:  node.unitPrice,
                            matCost:    node.matCost,
                            newPartYn:  node.newPartYn || 'N',
                            spec:       node.spec || ''
                        });
                        if (node.children && node.children.length > 0) {
                            traverse(node.children);
                        }
                    }
                }

                traverse(treeList);
                return result;
            },

            /* ==============================================================
               삭제
               ============================================================== */

            onDeleteList: function() {
                if (this._readOnly) {
                    UT.alert('진행 중인 프로젝트의 BOM은 수정할 수 없습니다.');
                    return;
                }
                var grid = this.$.gridPanel;
                var selectedRows = grid.getSelectedRows();

                if (!selectedRows || selectedRows.length === 0) {
                    UT.alert('MSG_COM_00007');
                    return;
                }

                var me = this;
                UT.confirm('MSG_COM_00004', function() {
                    me.set('deleteParam', {
                        ecPjtCd:    me.pjtInfo.pjtCd,
                        costCd:     me.selectedCostCd,
                        deleteList: selectedRows
                    });
                    me.$.deleteListAjax.generateRequest();
                });
            },

            onDeleteListResponse: function() {
                UT.alert('MSG_COM_00005');
                this.onFindList();
            },

            /* ==============================================================
               재료비 집계
               ============================================================== */

            onCalculateCost: function() {
                if (this._readOnly) {
                    UT.alert('진행 중인 프로젝트의 BOM은 수정할 수 없습니다.');
                    return;
                }
                if (!this.selectedCostCd) {
                    UT.alert('원가코드를 먼저 선택해 주세요.');
                    return;
                }
                var me = this;
                UT.confirm('재료비를 집계하시겠습니까?', function() {
                    me.set('calcParam', { ecPjtCd: me.pjtInfo.pjtCd, costCd: me.selectedCostCd });
                    me.$.calculateCostAjax.generateRequest();
                });
            },

            onCalculateCostResponse: function(e) {
                UT.alert('재료비 집계가 완료되었습니다.');
                this.onFindList();
            },

            /* ==============================================================
               기존단가 가져오기 (I/F)
               ============================================================== */

            onInterfacePrice: function() {
                if (this._readOnly) {
                    UT.alert('진행 중인 프로젝트의 BOM은 수정할 수 없습니다.');
                    return;
                }
                if (!this.selectedCostCd) {
                    UT.alert('원가코드를 먼저 선택해 주세요.');
                    return;
                }
                var grid = this.$.gridPanel;
                var allRows = grid.getAllRows();

                if (!allRows || allRows.length === 0) {
                    UT.alert('BOM 데이터가 없습니다. 먼저 조회 또는 업로드해 주세요.');
                    return;
                }

                var flatList = this._flattenTree(allRows);
                var targetItems = [];
                for (var i = 0; i < flatList.length; i++) {
                    if (flatList[i].newPartYn !== 'Y') {
                        targetItems.push(flatList[i].itemCd);
                    }
                }

                if (targetItems.length === 0) {
                    UT.alert('기존 부품(신규부품=N)이 없습니다.');
                    return;
                }

                var me = this;
                UT.confirm(targetItems.length + '건의 기존 부품에 대해 단가를 가져오시겠습니까?', function() {
                    me.set('interfaceParam', {
                        ecPjtCd:    me.pjtInfo.pjtCd,
                        costCd:     me.selectedCostCd,
                        itemCdList: targetItems
                    });
                    me.$.interfacePriceAjax.generateRequest();
                });
            },

            onInterfacePriceResponse: function(e) {
                var result = e.detail.response;
                var updatedCount = result.updatedCount || 0;
                UT.alert(updatedCount + '건의 기존 단가가 반영되었습니다.');
                this.onFindList();
            }
        });
    </script>
</dom-module>
